@{
    ViewData["Title"] = "Home Page";
}
<div class="row stats">
    <div class="col-md-3"><h3>Fullness: @ViewBag.full</h3></div>
    <div class="col-md-3"><h3>Happiness: @ViewBag.happ</h3></div>
    <div class="col-md-3"><h3>Meals: @ViewBag.meals</h3></div>
    <div class="col-md-3"><h3>Energy: @ViewBag.nrg</h3></div>
</div>
<div class="row tama">
    <div class="col-md-10 col-md-offset-1"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus magnam, voluptatum accusamus, ea illo vitae ad, laboriosam voluptatem omnis porro ut animi! Veniam omnis suscipit ea, tempora nisi, obcaecati corrupti. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nesciunt quis quaerat dolorum, eveniet laborum. Cumque in voluptas harum molestiae vitae sit rem quo dignissimos doloribus dolorem commodi, qui inventore.iam omnis suscipit ea, tempora nisi, obcaecati corrupti. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nesciunt quis quaerat dolorum, eveniet laborum. Cumque in voluptas harum molestiae vitae sit rem quo dignissimos doloribus dolorem commodi, qui inventore.</div>
</div>
<div class="row actions">
    <div class="col-md-3">
        <a class="btn btn-danger" href="feed">Feed</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-danger" href="play">Play</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-danger" href="work">Work</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-danger" href="sleep">Sleep</a>
    </div>
</div>