<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Product Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>Product {{id}}</h1>
		<h3>Name: {{prod.name}}</h3>
		<h3>Description: {{prod.description}}</h3>
		<h3>Price: {{prod.price}}</h3>
<br>
<br>
<br>
<br>
<br>
<a href="/">Go back</a>

	</div>
</body>
</html>
