* {
	padding: 0;
	margin: 0;
}

input {
	display: block;
	margin: 10px;
}

div {
	margin: 5px;
}

.lcol {
	display: inline-block;
	width: 47%;
}

.rcol {
	display: inline-block;
	width: 47%;
}

textarea {
	height: 150px;
	width: 200px;
}