@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <h1 class="bad err">@TempData["fail"]</h1>
    <div class="col-md-6">
        <div class="well">
            <p class="err" >@ViewBag.regFail</p>
            <form asp-controller="User" asp-action="RegisterUser" method="post">
                <div class="form-group">
                    <span class="err" asp-validation-for="FirstName"></span>
                    <label asp-for="FirstName" >First Name</label>
                    <input class="form-control" asp-for="FirstName"/>
                </div>
                <div class="form-group">
                    <span class="err" asp-validation-for="LastName"></span>
                    <label asp-for="LastName">Last Name</label>
                    <input class="form-control" asp-for="LastName"/>
                </div>
                <div class="form-group">
                    <span class="err" asp-validation-for="Email"></span>
                    <label asp-for="Email"></label>
                    <input class="form-control" asp-for="Email"/>
                </div>
                <div class="form-group">
                    <span class="err" asp-validation-for="Password"></span>
                    <label asp-for="Password"></label>
                    <input class="form-control" asp-for="Password"/>
                </div>
                <div class="form-group">
                    <span class="err" asp-validation-for="Confirm"></span>
                    <label asp-for="Confirm">Confirm Password</label>
                    <input class="form-control" asp-for="Confirm"/>
                </div>
                <button class="btn btn-primary" type="submit">~Register~</button>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <p class="err" >@TempData["errors"]</p>
            <form asp-controller="User" asp-action="LoginUser" method="post">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input class="form-control" asp-for="Email"/>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input class="form-control" asp-for="Password"/>
                </div>
                <button class="btn btn-primary" type="submit">~Login~</button>
            </form>
        </div>
    </div>
</div>