div {
	display: inline-block;
}

body{
	background: linear-gradient( 45deg, blue, yellow 50%, red );
}

#stash {
	height: 130px;
	width: 130px;
}

#main {
	width: 70%;
	display: inline-block;
}

#pokedex {
	position: fixed;
	top: 30%;
	width: 25%;
	display: inline-block;
	padding: 10px 10px;
	vertical-align: top;
	border: ridge 5px;
	border-color: DarkMagenta;
	border-radius: 25px;
}

#stats div {
	display: block;
}

.stdiv {
	display: block;
}