@{
    ViewData["Title"] = "Login Game";
}
<h1>CONGRADULATIONS YOU HAVE WON THE GAME!</h1>
<h2>Your High School guidance councelor is very proud of you.</h2>
<h2 style="display: inline">Would you like to play again?</h2> <a class="btn btn-primary" href="/logout">Sure</a>