<!DOCTYPE html>
<html>
<head>
	<title>THA WAAALLLLL</title>
</head>
<body>
	<div class="header">
		<h1>Coding Dojo Wall</h1>
		<h3>Welcome FIRSTNAME</h3>
		<a href="#">Log Out NO ROUTE YET</a>
	</div>
	<div class="message">
		<div class="post">
			<form action="/post" method="POST">
				Write a new message:
				<input class="textfield" type="textarea" name="message">
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
	<div class="messages">
		{% for message in messages %}
			<div class="messagePost">
				{{message['first_name']}} {{message['last_name']}}<br>
				{{message['content']}}
			</div>
		{% endfor %}
	</div>
</body>
</html>