* {
	padding: 0;
	margin: 0;
}

body {
	margin: 50px;

}

table {
	border: 1px solid black;
	padding: 5px;
}

h1 {
	width: 400px;
	border-bottom: 2px solid grey;
	margin: 20px;
}

.nope {
	border-right: 0
}

input {
	margin: 8px;
}