<!DOCTYPE html>
<html>
<head>
	<title>Random Word Generator</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</head>
<body>
<h1>RANDOM WORD! Attempt # {{request.session.att}}</h1>
<form action="/" method="POST">
	{% csrf_token %}
	<input type="text" value="{{request.session.word}}">
	<input type="submit" value="New word">
</form>
<form action="/clear" method="POST">{% csrf_token %}<input type="submit" value="Clear session"></form>
</body>
</html>
