/*Write all of your CSS here*/
.err {
    color: darkred;
}

.bad {
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

.BANG {
    color: olivedrab;
}
body {
    font-family: Georgia;
}

.headr {
    border-bottom: slategrey solid 2px;
    vertical-align: middle;

}

.btn-danger {
    vertical-align: middle;
    margin-top: 15px;
}

.sub {
    margin-top: 15px;
    margin-left: 10px;
}