{% include "header.html" %}
<body>
<h1>NINJA FACTS OMGGGGGIRUKLFUENVCNWNON234354VFD</h1>
<ul>
	<li>
		<h3>The Breeding Place of Ninja</h3>
		<p>In the early days, the provinces of Koga and Ida, now known as Mie, were the top “producers” of Ninja.</p>
	</li>
	<li>
		<h3>Unemployment Turns Ninjas into Teachers</h3>
		<p>During periods of peace, services of ninjas are not much in demand. But ninjas have to eat, too, so they earn money by putting up martial arts schools.</p>
	</li>
	<li>
		<h3>Why Ninjas Wear Black</h3>
		<p>Surprisingly, it’s not because those flimsy black uniforms make them blend in the dark. Rather, that famous black uniform of ninjas was derived from the emergence of ninja roles in Kabuki theater.</p>
	</li>
	<li>
		<h3>Ninjas are Related to Spiderman</h3>
		<p>That’s because they can climb walls! Of course, they haven’t been bitten by mutant spiders. Instead, they use a weapon called shuko, which mean “tiger’s claws” in English.</p>
	</li>
	<li>
		<h3>Weapons Hidden in Plain Sight</h3>
		<p>Back then, only samurais were allowed to carry weapons. As a result, ninjas made use of “kama” or sickle, which was basically a farming tool, and turned them into weapons. Resourceful, aren’t they?</p>
	</li>
	<li>
		<h3>Ninjas Win by Becoming Pests</h3>
		<p>Ninjas can win a victory without inflicting physical damage. All they have to do is pester their enemy. They use disguise to sneak into the enemy’s camp, steal their banners then display it next day as proof of the other party’s weakness. They also use darkness to frighten and harass the enemies, keeping them on their toes the whole night. As a result, they’ll have to fight the battle the next day without 100% energy.</p>
	</li>
	<li>
		<h3>The Origin of the Word Ninja</h3>
		<p>When a kid wants to be a ninja, he wants to learn about the impressive kicks and twists but he doesn’t care about the origins of ninjas. That’s why until now, only a few are even aware of the etymology of the word ‘ninja’.</p>

		<p>Ninja is actually a combination of two words: “nin”, which means ‘person’, and “shin”, which means concealment. Combine that and you basically have the definition for ninjas: individuals who are masters of the art of hiding.</p>

		<p>Remembering this little bit of knowledge will make you a more impressive ninja because it proves that you’re not only strong and powerful but smart as well!</p>
	</li>
	<li>
		<h3>The Myths about Ninjas</h3>
		<p>Did you know that people in the old days used to believe ninjas were seven feet tall, three-headed, and able to do extraordinary stuff like walk through walls, fly, and shape shift? It’s not true, of course, but even in those days, ninjas were able to do incredible things, leading people to believe that they were “superhuman”. Of course, ninjas being ninjas, they allowed people to believe what they wanted to since it made them easier to keep their identities secret.</p>
	</li>
	<li>
		<h3>Ninjas Could Be Stupid</h3>
		<p>If you want to be a ninja, you wouldn’t want to know about this. In 1182, Heike Monogatari tells the story of the war between Minamoto and Taira Clans. In one incident, ninjas were able to sneak into the enemy’s camp. So far so good, right? But when they got there, instead of launching a sneaky attack, what they do is to make their presence known by shouting. Rather than winning, they end up dead.</p>
	</li>
	<li>
		<h3>How Ninjas Turn Invisible</h3>
		<p>No, it’s not because of extraordinary speed or stealth. Instead, they use special, explosive concoctions hidden in nut and egg shells. Throw them out and they work just like pepper spray. One blink and they’re gone!</p>
	</li>
</ul>
</body>
</html>