<!DOCTYPE html>
<html>
<head>
	<title>Great Number Game</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<h1>Welcome to the great number game!</h1>
	<p>I am thinking of a number between 1 and 100</p>
	<p>Take a guess:</p>
	<form action="/guess" method="POST">
		<input type="text" name='num'>
		<input type="submit" value="send">
	</form>
	{% if session['guess'] %}
		{% if session['guess'] != session['randomNumber']%}
			<div class="red">{{session['gameGuess']}}</div>
		{% endif %}
		{% if session['guess'] == session['randomNumber'] %}
			<div class="green">
				<form action="/clear"><input type="submit" value="clear"><p>{{session['gameGuess']}}</p></<form action=""></form>
			</div>
		{% endif %}
	{% endif %}
</body>
</html>